html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#content {
    height: 100%;
}

#level_input_form {
    height: 100%;
}

#level_input_form > input {
    width: 100%;
    height: 20%;
    font-size: 50px;
}

#level_input_form > input:nth-child(2) {
    background-color: #8c66ff;
}
#level_input_form > input:nth-child(3) {
    background-color: #ffd966;
}
#level_input_form > input:nth-child(4) {
    background-color: #b3ff66;
}
#level_input_form > input:nth-child(5) {
    background-color: #66b3ff;
}
#level_input_form > input:nth-child(6) {
    background-color: #d966ff;
}
